{% extends 'mobile/base-mobile.html' %}

{% block body %}
<div class="content-wrapper mobile">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        {% if created %}
          <div class="row mb-2">
            <div class="d-flex align-items-center col-sm-12">
              <h4 class="title-purchase-history text-truncate">{{ data.nama }}</h4>
            </div><!-- /.col -->
            <div class="col-sm-12">
              <ol class="breadcrumb mobile">
                <li class="breadcrumb-item active">
                  <a class="btn btn-tool no-padding" href="" data-toggle="modal" data-target="#qrmodal{{ data.id_pelanggan }}">
                    <i class="fas fa-qrcode"></i> QR Code
                  </a>
                </li>
              </ol>
              <ol class="breadcrumb mobile">
                <li class="breadcrumb-item active"><i class="fas fa-mobile-alt purchase_history"></i> {{ data.telp | format_telp }}</li>
              </ol>
              <ol class="breadcrumb mobile">
                <li class="breadcrumb-item active"><i class="fas fa-map-marker-alt purchase_history"></i> {{ data.alamat }}</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        {% endif %}
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Timelime example  -->
        <div class="row">
          <div class="col-md-12">
            <!-- The time line -->
            <div class="timeline">
              <!-- timeline item -->
              {% if created %}
                {% for row in purchase_history_data %}
                  <div>
                    <i class="fas fa-tags bg-primary r"></i>
                    <div class="timeline-item">
                      <span class="time"><i class="fas fa-clock"></i> {{ row.date }}</span>
                      <h3 class="timeline-header"><span>{{ row.aroma }}</span> <small>({{ row.pabrik }})</small></h3>
                      <div class="timeline-body">
                        <i class="fas fa-boxes purchase_history"></i> Qty: {{ row.qty }}ml</br>
                        <i class="fas fa-money-bill purchase_history"></i> Harga: {{ row.harga | format_rupiah }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
                <!-- END timeline item -->
                <div>
                  <i class="fa fa-check-circle bg-success"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fas fa-clock"></i> {{ created }}</span>
                    <h3 class="timeline-header r">Terdaftar di Raihan Parfum</h3>
                  </div>
                </div>
                <div>
                  <i class="fas fa-clock bg-gray"></i>
                </div>
              {% endif %}
            </div>
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.timeline -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal QRCode Pelanggan -->
<div id="qrmodal{{data.id_pelanggan}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-truncate">{{ data.nama }}</h4>
        </div>
        <div class="modal-body card-body register-card-body text-center">
            <img src="{{ url_for('static', filename='img/qr/pelanggan/' + data.id_pelanggan + '.png') }}" alt="QR Code Pelanggan" class="img-fluid">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Keluar</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}