{% extends 'database/base-database.html' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'success'%}
                <div class="alert alert-{{ category }} alert-dismissible r">
                  <button type="button" class="close r" data-dismiss="alert" aria-hidden="true">×</button>
                  <h6 class="flash r"><i class="icon fas fa-check"></i> {{ message }}</h6>
                </div>
              {% else %}
                <div class="alert alert-{{ category }} alert-dismissible r">
                  <button type="button" class="close r" data-dismiss="alert" aria-hidden="true">×</button>
                  <h6 class="flash r"><i class="icon fas fa-info"></i> {{ message }}</h6>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th rowspan="2"  class="text-center vertical" style="width: 40%">
                          Aroma
                        </th>
                        <th colspan="4" style="width: 45%" class="text-center">
                          Harga per ml
                        </th>
                        <th rowspan="2" style="width: 15%" class="text-right vertical">
                          {% if search_aroma %}
                            <a class="btn btn-tool" href="{{ url_for('datab.aroma') }}">
                              <i class="fas fa-redo"></i>
                            </a>
                          {% endif %}
                          <a class="btn btn-tool" href="" data-toggle="modal" data-target="#searchmodal">
                            <i class="fas fa-search"></i>
                          </a>
                          <a class="btn btn-success btn-sm" href="" data-toggle="modal" data-target="#addmodal">
                              <i class="fas fa-plus"></i>
                          </a>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center">
                          100 ml
                        </th>
                        <th class="text-center">
                          250 ml
                        </th>
                        <th class="text-center">
                          500 ml
                        </th>
                        <th class="text-center">
                          1000 ml
                        </th>
                    </tr>
                </thead>
                <tbody>
                  {% if search_aroma %}
                    {% for row in search_aroma %}
                        <tr>
                            <td>
                                {{ row.nama }} <small>({{ row.pabrik.nama }})</small>
                            </td>
                            <td class="text-center">{{ row.harga2 }}</td>
                            <td class="text-center">{{ row.harga3 }}</td>
                            <td class="text-center">{{ row.harga4 }}</td>
                            <td class="text-center">{{ row.harga5 }}</td>
                            <td class="text-right">
                                <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editmodal{{ row.id_aroma }}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletemodal{{row.id_aroma}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                  {% else %}
                    {% for row in aroma %}
                        <tr>
                            <td>
                                {{ row.nama }} <small>({{ row.pabrik.nama }})</small>
                            </td>
                            <td class="text-center">{{ row.harga2 }}</td>
                            <td class="text-center">{{ row.harga3 }}</td>
                            <td class="text-center">{{ row.harga4 }}</td>
                            <td class="text-center">{{ row.harga5 }}</td>
                            <td class="text-right">
                                <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editmodal{{ row.id_aroma }}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletemodal{{row.id_aroma}}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
    </section>
    <!-- /.content -->

    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal Add Aroma -->
  <div id="addmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Tambah Data Aroma</h4>
          </div>
          <div class="modal-body card-body register-card-body">
            <form action="{{url_for('datab.aroma_add')}}" method="POST">
              <div class="form-group input-group">
                <input type="text" class="form-control" name="nama" placeholder="Aroma" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-spray-can"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <select name="pabrik" class="form-control" required> 
                  <option value="" disabled selected hidden>Nama Pabrik</option>  
                  {% for row in pabrik %} 
                    <option value="{{ row.id_pabrik }}">{{ row.nama }}</option>
                  {% endfor %}
                </select>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-industry"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <input type="number" class="form-control" name="harga2" placeholder="Harga/100ml">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-donate"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <input type="number" class="form-control" name="harga3" placeholder="Harga/250ml">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-donate"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <input type="number" class="form-control" name="harga4" placeholder="Harga/500ml">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-donate"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <input type="number" class="form-control" name="harga5" placeholder="Harga/1.000ml">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-donate"></span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary btn-success" type="submit">Tambah</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>

  <!-- Modal Edit Aroma -->
  {% for row in aroma %}
    <div id="editmodal{{ row.id_aroma }}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ubah Data Aroma</h4>
            </div>
            <div class="modal-body card-body register-card-body">
              <form action="{{ url_for('datab.aroma_edit') }}" method="POST">
                  <div class="form-group input-group">
                    <input type="hidden"  name="id_aroma" value="{{ row.id_aroma }}">
                    <input type="text" class="form-control" name="nama" placeholder="Aroma" value="{{ row.nama }}">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-spray-can"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <select name="pabrik" class="form-control" required> 
                      <option value="{{ row.id_pabrik }}" disabled selected hidden>{{ row.pabrik.nama }}</option>  
                      {% for row in pabrik %} 
                        <option value="{{ row.id_pabrik }}">{{ row.nama }}</option>
                      {% endfor %}
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-industry"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <input type="number" class="form-control" name="harga2" placeholder="Harga/100ml" value="{{ row.harga2 }}">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-donate"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <input type="number" class="form-control" name="harga3" placeholder="Harga/250ml" value="{{ row.harga3 }}">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-donate"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <input type="number" class="form-control" name="harga4" placeholder="Harga/500ml" value="{{ row.harga4 }}">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-donate"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <input type="number" class="form-control" name="harga5" placeholder="Harga/1.000ml" value="{{ row.harga5 }}">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-donate"></span>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary btn-wrn" type="submit">Ubah</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- Modal Delete Aroma -->
  {% for row in aroma %}
    <div id="deletemodal{{row.id_aroma}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Hapus Data Aroma</h4>
            </div>
            <div class="modal-body card-body register-card-body">
              <h6><b>Aroma</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.nama }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-spray-can"></span>
                  </div>
                </div>
              </div>
              <h6><b>Pabrik</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.pabrik.nama }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-industry"></span>
                  </div>
                </div>
              </div>
              <h6><b>Harga/100ml</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.harga2 }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-donate"></span>
                  </div>
                </div>
              </div>
              <h6><b>Harga/250ml</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.harga3 }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-donate"></span>
                  </div>
                </div>
              </div>
              <h6><b>Harga/500ml</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.harga4 }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-donate"></span>
                  </div>
                </div>
              </div>
              <h6><b>Harga/1.000ml</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.harga5 }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-donate"></span>
                  </div>
                </div>
              </div>
              <form action="{{ url_for('datab.aroma_delete') }}" method="POST">
                  <div class="modal-footer">
                    <input type="hidden"  name="id_aroma" value="{{ row.id_aroma }}">
                    <button class="btn btn-primary btn-dgr" type="submit">Hapus</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- Modal Search Aroma -->
  {% for row in aroma %}
    <div id="searchmodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Cari Data Aroma</h4>
            </div>
            <div class="modal-body card-body register-card-body">
              <form action="{{url_for('datab.aroma')}}" method="POST">
                <div class="form-group input-group">
                  <select name="search_pabrik" class="form-control"> 
                    <option value="" disabled selected hidden>Nama Pabrik</option>
                    <option value="">Semua</option>  
                    {% for row in pabrik %} 
                      <option value="{{ row.id_pabrik }}">{{ row.nama }}</option>
                    {% endfor %}
                  </select>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-industry"></span>
                    </div>
                  </div>
                </div>
                <div class="form-group input-group">
                  <input type="text" class="form-control" name="search_aroma" placeholder="Aroma">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-spray-can"></span>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary btn-success" type="submit">Cari</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}