{% extends 'database/base-database.html' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'success'%}
                <div class="alert alert-{{ category }} alert-dismissible r">
                  <button type="button" class="close r" data-dismiss="alert" aria-hidden="true">×</button>
                  <h6 class="flash r"><i class="icon fas fa-check"></i> {{ message }}</h6>
                </div>
              {% else %}
                <div class="alert alert-{{ category }} alert-dismissible r">
                  <button type="button" class="close r" data-dismiss="alert" aria-hidden="true">×</button>
                  <h6 class="flash r"><i class="icon fas fa-info"></i> {{ message }}</h6>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 50%">
                          Nama Barang
                        </th>
                        <th style="width: 15%">
                          Toko
                        </th>
                        <th style="width: 15%">
                          Harga
                        </th>
                        <th style="width: 20%" class="text-right">
                          <a class="btn btn-success btn-sm" href="" data-toggle="modal" data-target="#addmodal">
                              <i class="fas fa-folder"></i>
                              Tambah
                          </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                  {% for row in barang %}
                      <tr>
                          <td>{{ row.nama }} <small class="capitalize">({{ row.jenis }})</small></td>
                          <td>{{ row.supplier.nama }}</td>
                          <td>Rp. {{ "{:0,.0f}".format(row.harga).replace(',', '.') }} <small>/{{ row.ukur.nama }}</small></td>
                          <td class="text-right">
                              <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editmodal{{ row.id_barang }}">
                                  <i class="fas fa-pencil-alt"></i>
                                  Ubah
                              </a>
                              <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletemodal{{row.id_barang}}">
                                  <i class="fas fa-trash"></i>
                                  Hapus
                              </a>
                          </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
    </section>
    <!-- /.content -->

    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal Add Barang -->
  <div id="addmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Tambah Data Barang</h4>
          </div>
          <div class="modal-body card-body register-card-body">
            <form action="{{url_for('datab.barang_add')}}" method="POST">
              <div class="form-group input-group">
                <select name="jenis" class="form-control" required> 
                  <option value="" disabled selected hidden>Jenis Barang</option>
                  <option value="botol">Botol</option>
                  <option value="larutan">Larutan</option>
                </select>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-cogs"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <input type="text" class="form-control" name="barang" placeholder="Nama Barang" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-flask"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <select name="toko" class="form-control" required> 
                  <option value="" disabled selected hidden>Toko</option>
                  {% for row in supplier %} 
                    <option value="{{ row.id_supplier }}">{{ row.nama }}</option>
                  {% endfor %}
                </select>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-truck"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <input type="number" class="form-control" name="harga" placeholder="Harga">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-donate"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <select name="ukur" class="form-control" required> 
                  <option value="" disabled selected hidden>Satuan</option>  
                  {% for row in ukur %} 
                    <option value="{{ row.id_ukur }}">{{ row.nama }}</option>
                  {% endfor %}
                </select>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-ruler-combined"></span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary btn-success" type="submit">Tambah</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>

  <!-- Modal Edit Barang -->
  {% for row in barang %}
    <div id="editmodal{{ row.id_barang }}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ubah Data Barang</h4>
            </div>
            <div class="modal-body card-body register-card-body">
              <form action="{{ url_for('datab.barang_edit') }}" method="POST">
                  <div class="form-group input-group">
                    <input type="hidden"  name="id_barang" value="{{ row.id_barang }}">
                    <select name="jenis" class="form-control capitalize" required> 
                      <option value="{{ row.jenis }}" disabled selected hidden>{{ row.jenis }}</option>  
                      <option value="botol">Botol</option>
                      <option value="larutan">Larutan</option>
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-cogs"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <input type="text" class="form-control" name="barang" placeholder="Nama Barang" value="{{ row.nama }}">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-flask"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <select name="toko" class="form-control" required> 
                      <option value="{{ row.id_supplier }}" disabled selected hidden>{{ row.supplier.nama }}</option>  
                      {% for row in supplier %} 
                        <option value="{{ row.id_supplier }}">{{ row.nama }}</option>
                      {% endfor %}
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-truck"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <input type="number" class="form-control" name="harga" placeholder="Harga" value="{{ row.harga }}">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-donate"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <select name="ukur" class="form-control" required> 
                      <option value="{{ row.id_ukur }}" disabled selected hidden>{{ row.ukur.nama }}</option>  
                      {% for row in ukur %} 
                        <option value="{{ row.id_ukur }}">{{ row.nama }}</option>
                      {% endfor %}
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-ruler-combined"></span>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary btn-wrn" type="submit">Ubah</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- Modal Delete Barang -->
  {% for row in barang %}
    <div id="deletemodal{{row.id_barang}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Hapus Data Barang</h4>
            </div>
            <div class="modal-body card-body register-card-body">
              <h6><b>Jenis Barang</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control capitalize" value="{{ row.jenis }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-cogs"></span>
                  </div>
                </div>
              </div>
              <h6><b>Nama Barang</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.nama }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-flask"></span>
                  </div>
                </div>
              </div>
              <h6><b>Toko</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.supplier.nama }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-truck"></span>
                  </div>
                </div>
              </div>
              <h6><b>Harga</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.harga }}/{{ row.ukur.nama }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-donate"></span>
                  </div>
                </div>
              </div>
              <form action="{{ url_for('datab.barang_delete') }}" method="POST">
                  <div class="modal-footer">
                    <input type="hidden"  name="id_barang" value="{{ row.id_barang }}">
                    <button class="btn btn-primary btn-dgr" type="submit">Hapus</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- Modal Search Aroma -->
  {% for row in aroma %}
    <div id="searchmodal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Cari Data Aroma</h4>
            </div>
            <div class="modal-body card-body register-card-body">
              <form action="{{url_for('datab.aroma')}}" method="POST">
                <div class="form-group input-group">
                  <select name="search_pabrik" class="form-control"> 
                    <option value="" disabled selected hidden>Nama Pabrik</option>
                    <option value="">Semua</option>  
                    {% for row in pabrik %} 
                      <option value="{{ row.id_pabrik }}">{{ row.nama }}</option>
                    {% endfor %}
                  </select>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-industry"></span>
                    </div>
                  </div>
                </div>
                <div class="form-group input-group">
                  <input type="text" class="form-control" name="search_aroma" placeholder="Nama Aroma">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-spray-can"></span>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary btn-success" type="submit">Cari</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}