{% extends 'database/base-database.html' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-success alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="close">
                      <span aria-hidden="true" class="bi bi-x-lg"></span>
                  </button>
                {% if category == 'pass-error'%}
                  {{ message }}.
                {% else %}
                  {{ message }}.
                {% endif %}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 80%">
                          Nama Pabrik
                      </th>
                      <th style="width: 20%" class="text-right">
                        <a class="btn btn-success btn-sm" href="" data-toggle="modal" data-target="#addmodal">
                            <i class="fas fa-folder"></i>
                            Tambah
                        </a>
                      </th>
                  </tr>
              </thead>
              <tbody>
                {% for row in pabrik %}
                    <tr>
                        <td>{{ row.nama }}</td>
                        <td class="text-right">
                            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editmodal{{ row.id_pabrik }}">
                                <i class="fas fa-pencil-alt"></i>
                                Ubah
                            </a>
                            <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletemodal{{ row.id_pabrik }}">
                                <i class="fas fa-trash"></i>
                                Hapus
                            </a>
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->

      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal Add Pabrik -->
  <div id="addmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Tambah Data Pabrik</h4>
          </div>
          <div class="modal-body card-body register-card-body">
            <form action="{{url_for('datab.pabrik_add')}}" method="POST">
              <div class="form-group input-group">
                <input type="text" class="form-control" name="nama" placeholder="Nama Pabrik" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-dolly"></span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary btn-success" type="submit">Tambah</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>

  <!-- Modal Edit Pabrik -->
  {% for row in pabrik %}
    <div id="editmodal{{ row.id_pabrik }}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ubah Data Pabrik</h4>
            </div>
            <div class="modal-body card-body register-card-body">
              <form action="{{ url_for('datab.pabrik_edit') }}" method="POST">
                  <div class="form-group input-group">
                    <input type="hidden"  name="id_pabrik" value="{{ row.id_pabrik }}">
                    <input type="text" class="form-control" name="nama" placeholder="Nama Pabrik" value="{{ row.nama }}">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-dolly"></span>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary btn-wrn" type="submit">Ubah</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- Modal Delete Pabrik -->
  {% for row in pabrik %}
    <div id="deletemodal{{ row.id_pabrik }}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Hapus Data Pabrik</h4>
            </div>
            <div class="modal-body card-body register-card-body">
              <h6><b>Nama Pabrik</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.nama }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-dolly"></span>
                  </div>
                </div>
              </div>
              <form action="{{ url_for('datab.pabrik_delete') }}" method="POST">
                  <div class="modal-footer">
                    <input type="hidden"  name="id_pabrik" value="{{ row.id_pabrik }}">
                    <button class="btn btn-primary btn-dgr" type="submit">Hapus</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}