{% extends 'database/base-database.html' %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'success'%}
                <div class="alert alert-{{ category }} alert-dismissible r">
                  <button type="button" class="close r" data-dismiss="alert" aria-hidden="true">×</button>
                  <h6 class="flash r"><i class="icon fas fa-check"></i> {{ message }}</h6>
                </div>
              {% else %}
                <div class="alert alert-{{ category }} alert-dismissible r">
                  <button type="button" class="close r" data-dismiss="alert" aria-hidden="true">×</button>
                  <h6 class="flash r"><i class="icon fas fa-info"></i> {{ message }}</h6>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <!-- Default box -->
        <div class="card">
          <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 13%">
                          Tanggal
                        </th>
                        <th style="width: 12%">
                          Toko
                        </th>
                        <th style="width: 30%">
                          Nama Barang
                        </th>
                        <th style="width: 8%">
                          Qty
                        </th>
                        <th style="width: 12%">
                          Harga
                        </th>
                        <th style="width: 20%" class="text-right">
                          <a class="btn btn-success btn-sm" href="" data-toggle="modal" data-target="#addmodal">
                              <i class="fas fa-plus"></i>
                              Tambah
                          </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                  {% for row in pembelian %}
                      <tr>
                          <td>{{ row.date }}</td>
                          <td>{{ row.supplier.nama }}</td>

                          {% if row.aroma %}
                            <td>
                              {{ row.aroma.nama }}
                              <small>
                                ( {{ row.aroma.pabrik.nama }} )
                              </small>
                            </td>
                            <td>{{ row.qty }} ml</td>
                          {% else %}
                            <td>
                              {{ row.barang.nama }}
                              <small>
                                ( {{ row.barang.jenis }} )
                              </small>
                            </td>
                            <td>{{ row.qty }} {{ row.barang.ukur.nama }}</td>
                          {% endif %}
                          
                          <td>Rp. {{ "{:0,.0f}".format(row.harga).replace(',', '.') }}</td>
                          <td class="text-right">
                              <!-- <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editmodal{{ row.id_pembelian }}">
                                  <i class="fas fa-pencil-alt"></i>
                                  Ubah
                              </a> -->
                              <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletemodal{{row.id_pembelian}}">
                                  <i class="fas fa-trash"></i>
                                  Hapus
                              </a>
                          </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
          <!-- /.card-body -->

        </div>
        <!-- /.card -->

      </div>
    </section>
    <!-- /.content -->

    <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
      <i class="fas fa-chevron-up"></i>
    </a>
  </div>
  <!-- /.content-wrapper -->

  <!-- Modal Add Pembelian -->
  <div id="addmodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Tambah Data Pembelian</h4>
          </div>
          <div class="modal-body card-body register-card-body parent-response-class">
            <form action="{{ url_for('datab.pembelian_add' )}}" method="POST">
              <div class="form-group input-group">
                <select name="toko" class="form-control" required> 
                  <option value="" disabled selected hidden>Toko</option>
                  {% for row in supplier %} 
                    <option value="{{ row.id_supplier }}">{{ row.nama }}</option>
                  {% endfor %}
                </select>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-truck"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <select name="item" class="form-control" id="item-response" required> 
                  <option value="" disabled selected hidden>Jenis Barang</option>
                  <option value="parfum">Parfum</option>
                  <option value="botol">Botol</option>
                  <option value="larutan">Larutan</option>
                </select>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-cogs"></span>
                  </div>
                </div>
              </div>
              <div id="itemparfum" class="item">
                <div class="form-group input-group">
                  <select name="pabrik" class="form-control pabrik-response required" required> 
                    <option value="" disabled selected hidden>Nama Pabrik</option>  
                    {% for row in pabrik %} 
                      <option value="{{ row.id_pabrik }}">{{ row.nama }}</option>
                    {% endfor %}
                  </select>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-industry"></span>
                    </div>
                  </div>
                </div>
                <div class="form-group input-group">
                  <select name="aroma" class="form-control aroma-response required" required> 
                    <option value="" disabled selected hidden>Aroma</option>  
                  </select>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-spray-can"></span>
                    </div>
                  </div>
                </div>

                <div class="form-group input-group">
                  <select name="qty" class="form-control"> 
                    <option value="" disabled selected hidden>Qty</option>
                    <option value="100">100 ml</option>
                    <option value="250">250 ml</option>
                    <option value="500">500 ml</option>
                    <option value="1000">1.000 ml</option>
                  </select>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-boxes"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="itembotol" class="item">
                <div class="form-group input-group">
                  <select name="barang" class="form-control barang-response required" required> 
                    <option value="" disabled selected hidden>Nama Barang</option>  
                  </select>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-flask"></span>
                    </div>
                  </div>
                </div>
                
                <div class="form-group input-group">
                  <input type="number" class="form-control" name="qty" placeholder="Qty">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-boxes"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="itemlarutan" class="item">
                <div class="form-group input-group">
                  <select name="barang" class="form-control barang-response required" required> 
                    <option value="" disabled selected hidden>Nama Barang</option>  
                  </select>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-flask"></span>
                    </div>
                  </div>
                </div>
                
                <div class="form-group input-group">
                  <input type="number" class="form-control" name="qty" placeholder="Qty">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-boxes"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <input type="number" class="form-control" name="harga" placeholder="Harga">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-money-bill"></span>
                  </div>
                </div>
              </div>
              <div class="form-group input-group">
                <input type="date" class="form-control" name="date">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-calendar"></span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary btn-success" type="submit">Tambah</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>

  <!-- Modal Edit Penjualan -->
  {% for row in penjualan %}
    <div id="editmodal{{ row.id_penjualan }}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Ubah Data Penjualan</h4>
            </div>
            <div class="modal-body card-body register-card-body parent-response-class">
              <form action="{{ url_for('datab.penjualan_edit') }}" method="POST">
                  <div class="form-group input-group">
                    <input type="hidden"  name="id_penjualan" value="{{ row.id_penjualan }}">
                    <select name="pabrik" class="form-control pabrik-response" required> 
                      <option value="{{ row.id_pabrik }}" disabled selected hidden>{{ row.pabrik.nama }}</option>  
                      {% for row in pabrik %} 
                        <option value="{{ row.id_pabrik }}">{{ row.nama }}</option>
                      {% endfor %}
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-industry"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <select name="aroma" class="form-control aroma-response" required> 
                      <option value="{{ row.id_aroma }}" disabled selected hidden>{{ row.aroma.nama }}</option>  
                    </select>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-spray-can"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <input type="number" class="form-control" name="qty" placeholder="Qty" value="{{ row.qty }}">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-boxes"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <input type="number" class="form-control" name="harga" placeholder="Harga" value="{{ row.harga }}">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-money-bill"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group">
                    <input type="date" class="form-control" name="date" value="{{ row.date }}">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="nav-icon fas fa-calendar"></span>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary btn-wrn" type="submit">Ubah</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- Modal Delete Pembelian -->
  {% for row in pembelian %}
    <div id="deletemodal{{row.id_pembelian}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Hapus Data Pembelian</h4>
            </div>
            <div class="modal-body card-body register-card-body">
              <h6><b>Toko</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.supplier.nama }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-cogs"></span>
                  </div>
                </div>
              </div>
              {% if row.id_aroma %}
                <h6><b>Jenis Barang</b></h6>
                <div class="form-group input-group">
                  <input type="text" class="form-control" value="Parfum" disabled>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-cogs"></span>
                    </div>
                  </div>
                </div>
                <h6><b>Pabrik</b></h6>
                <div class="form-group input-group">
                  <input type="text" class="form-control" value="{{ row.aroma.pabrik.nama }}" disabled>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-industry"></span>
                    </div>
                  </div>
                </div>
                <h6><b>Nama Aroma</b></h6>
                <div class="form-group input-group">
                  <input type="text" class="form-control" value="{{ row.aroma.nama }}" disabled>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-spray-can"></span>
                    </div>
                  </div>
                </div>
              {% else %}
                <h6><b>Jenis Barang</b></h6>
                <div class="form-group input-group">
                  <input type="text" class="form-control" value="{{ row.barang.jenis }}" disabled>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-cogs"></span>
                    </div>
                  </div>
                </div>
                <h6><b>Nama Barang</b></h6>
                <div class="form-group input-group">
                  <input type="text" class="form-control" value="{{ row.barang.nama }}" disabled>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="nav-icon fas fa-flask"></span>
                    </div>
                  </div>
                </div>
              {% endif %}
              <h6><b>Qty</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.qty }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-boxes"></span>
                  </div>
                </div>
              </div>
              <h6><b>Harga</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.harga }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-money-bill"></span>
                  </div>
                </div>
              </div>
              <h6><b>Tanggal</b></h6>
              <div class="form-group input-group">
                <input type="text" class="form-control" value="{{ row.date }}" disabled>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="nav-icon fas fa-calendar"></span>
                  </div>
                </div>
              </div>
              <form action="{{ url_for('datab.pembelian_delete') }}" method="POST">
                  <div class="modal-footer">
                    <input type="hidden"  name="id_pembelian" value="{{ row.id_pembelian }}">
                    <button class="btn btn-primary btn-dgr" type="submit">Hapus</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                  </div>
              </form>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}